/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.msg-warming {
    background-color: #FFE3DB;
    margin-bottom: 10px;
    color: #a94442;
    border-bottom: solid #c1805f;
    border-radius: 0.4em;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
}

.msg-sucess {
    color: #43912d;
    margin-bottom: 10px;
    border-radius: 0.4em;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C2D5B5;
    border-bottom: solid #366a22;
}

.input-color {
    width: 60px;
    height: 60px;
    padding: 5px;
}

.scroll-gridview {
    max-height:200px;
    overflow-y:scroll;
}

select {
    width: 100%;
    height: 57px;
    color: #6e6e6e !important;
    border: 0;
    padding:15px;
}

td {
    color:black
}

.glyphicon {
    color:black
}

td:last-child {
    text-align: center;
}